@model ClinicaMVC.Models.tcEnfermedad

@{
    Layout = "~/Views/Shared/_VistaCatalogo.cshtml";
    ViewBag.Title = "Crear";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="portlet light portlet-fit">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-heartbeat"></i>
                <span class="caption-subject sbold uppercase">Crear Enfermedad</span>
            </div>
            <div class="actions">
                @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-transparent blue btn-outline btn-circle btn-sm" })
            </div>
        </div>
        <div class="portlet-body form">
            <form role="form">
                <div class="form-body">
                    <div class="md-checkbox pull-right">
                        @if (ViewBag.CheckBox != null)
                        {
                            @Html.CheckBox("checkbox", true, new { @id = "checkbox1", @class = "md-check" })
                        }
                        else {
                            @Html.CheckBox("checkbox", false, new { @id = "checkbox1", @class = "md-check" })
                        }
                        <label for="checkbox1">
                            <span class="inc"></span>
                            <span class="check"></span>
                            <span class="box"></span>
                            Multiples Ingresos
                        </label>
                    </div>
                    <div class="form-group form-md-line-input form-md-floating-label">
                        @*<input type="text" class="form-control" id="form_control_1">*@
                        @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control", @id = "nombreEnfermedad" } })
                        <label for="nombreEstado">Nombre de alergia</label>
                        <span class="help-block">@Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })</span>
                    </div>
                    <div class="form-group form-md-line-input form-md-floating-label">
                        @*<input type="text" class="form-control" id="form_control_1">*@
                        @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control", @id = "descripcionEnfermedad" } })
                        <label for="descripcionEstado">Descripcion de alergia</label>
                        <span class="help-block">@Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })</span>
                    </div>
                    <div class="form-group form-md-line-input form-md-floating-label">
                        @Html.DropDownList("EstadoID", null, htmlAttributes: new { @class = "form-control" })
                        <label for="descripcionEstado">Estado</label>
                        @Html.ValidationMessageFor(model => model.EstadoID, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-actions noborder">
                    <button type="submit" class="btn blue">Guardar</button>
                </div>
            </form>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @if (ViewBag.Mensaje != null)
    {
        <script type="text/javascript">
            $(document).ready(function () {
            toastr.options = {
                "closeButton": true,
                "debug": false,
                "positionClass": "toast-top-full-width",
                "onclick": null,
                "showDuration": "5000",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut",
            }
            toastr.success('@(ViewBag.Mensaje)', 'EXITO');
        });
        </script>
    }

}
