@model ClinicaMVC.Models.tcMedicamento

@{
    Layout = "~/Views/Shared/_VistaCatalogo.cshtml";
    ViewBag.Title = "Editar";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="portlet light portlet-fit">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-chemistry"></i>
                <span class="caption-subject sbold uppercase">Editar Medicamento</span>
            </div>
            <div class="actions">
                @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-transparent blue btn-outline btn-circle btn-sm" })
            </div>
        </div>
        <div class="portlet-body form">
            @Html.HiddenFor(model => model.tcMedicamentoID)
            <form role="form">
                <div class="form-body">
                    <div class="form-group form-md-line-input form-md-floating-label">
                        @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control", @id = "nombreMedicamento" } })
                        <label for="nombreEstado">Nombre de medicamento</label>
                        <span class="help-block">@Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })</span>
                    </div>
                    <div class="form-group form-md-line-input form-md-floating-label">
                        @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control", @id = "descripcionMedicamento" } })
                        <label for="descripcionEstado">Descripcion de medicamento</label>
                        <span class="help-block">@Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })</span>
                    </div>
                    <div class="form-group form-md-line-input form-md-floating-label">
                        @Html.EditorFor(model => model.Presentacion, new { htmlAttributes = new { @class = "form-control", @id = "presentacionMedicamento" } })
                        <label for="descripcionEstado">Presentacion(liquido,patillas,etc)</label>
                        <span class="help-block">@Html.ValidationMessageFor(model => model.Presentacion, "", new { @class = "text-danger" })</span>
                    </div>
                    <div class="form-group form-md-line-input form-md-floating-label">
                        @Html.EditorFor(model => model.Medida, new { htmlAttributes = new { @class = "form-control", @id = "medidaMedicamento" } })
                        <label for="descripcionEstado">Medida(cantidad numerica)</label>
                        <span class="help-block">@Html.ValidationMessageFor(model => model.Medida, "", new { @class = "text-danger" })</span>
                    </div>
                    <div class="form-group form-md-line-input form-md-floating-label">
                        @Html.DropDownList("tcUnidadMedidaID", null, htmlAttributes: new { @class = "form-control" })
                        <label for="descripcionEstado">Unidad de medida</label>
                        @Html.ValidationMessageFor(model => model.tcUnidadMedidaID, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group form-md-line-input form-md-floating-label">
                        @Html.EditorFor(model => model.AlertaMinimo, new { htmlAttributes = new { @class = "form-control", @id = "alertaminimoMedicamento" } })
                        <label for="descripcionEstado">Alerta de Minimo</label>
                        <span class="help-block">@Html.ValidationMessageFor(model => model.AlertaMinimo, "", new { @class = "text-danger" })</span>
                    </div>
                    <div class="form-group form-md-line-input form-md-floating-label">
                        @Html.DropDownList("EstadoID", null, htmlAttributes: new { @class = "form-control" })
                        <label for="descripcionEstado">Estado</label>
                        @Html.ValidationMessageFor(model => model.EstadoID, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-actions noborder">
                    <button type="submit" class="btn blue">Guardar</button>
                </div>
            </form>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
