@model ClinicaMVC.Models.tcGenero

@{
    Layout = "~/Views/Shared/_VistaCatalogo.cshtml";
    ViewBag.Title = "Editar";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="portlet light portlet-fit">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-user"></i>
                <span class="caption-subject sbold uppercase">Editar Genero</span>
            </div>
            <div class="actions">
                @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-transparent blue btn-outline btn-circle btn-sm" })
            </div>
        </div>
        <div class="portlet-body form">
            @Html.HiddenFor(model => model.tcGeneroID)
            <form role="form">
                <div class="form-body">
                    <div class="form-group form-md-line-input form-md-floating-label">
                        @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control", @id = "nombreGenero" } })
                        <label for="nombreEstado">Nombre de alergia</label>
                        <span class="help-block">@Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })</span>
                    </div>                    
                    <div class="form-group form-md-line-input form-md-floating-label">
                        @Html.DropDownList("EstadoID", null, htmlAttributes: new { @class = "form-control" })
                        <label for="descripcionEstado">Estado</label>
                        @Html.ValidationMessageFor(model => model.EstadoID, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-actions noborder">
                    <button type="submit" class="btn blue">Guardar</button>
                </div>
            </form>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


