@model ClinicaMVC.Models.Paciente

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_VistaCatalogo.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Paciente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Estado.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Expediente.FotoPath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Expediente.FotoPath)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Apellido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apellido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaNacimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaNacimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TelefonoCasa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TelefonoCasa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TelefonoCel1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TelefonoCel1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TelefonoCel2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TelefonoCel2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TelefonoEmergencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TelefonoEmergencia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoSangre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoSangre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estatura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estatura)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaCreacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Direccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NIT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NIT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Genero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Profesion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Profesion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PacienteID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
